body {
  width: 750px;
  background-color: #F5F5F5;
  color: #363636;
}
header{
}
nav{
  }
ul {
   list-style-type: none;
   width: 100px;
   height: 100px;
   }
li {
}
img {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 1px 5px;
}
h1 {
  color: #363636;
  border: 4px solid #273746;
  height: 100px;
  width: 40%;
}
article{
}
section {
}
.section1of3 {
  float: left;
  width: 925px;
  margin: 10px;
}
.section1of2 {
  float: left;
  width: 925px;
  margin: 10px;
}
.section3of3 {
  float: right;
  width: 300px;
  margin: 10px;
}
h3 {
  background-image: linear-gradient(to right, #8ED1DC, #E3F4F6);
  width: 250px;
  border: 15px white;
  padding: 20px;
  margin-top: 1px;
  margin-bottom: 20px;
  margin-left: 20px;
}
div {
}
p {
}
h2 {
}
table {
}
thead {
}
tr {
}
#close-icon {
  width: 10px;
  height: 10px;
}
.greeting {
  }

.sidebar {
    width: 10%;
    height: auto;
}
