body {
  background-color: #F5F5F5;
  color: #363636;
}

h1 {
  text-align: left;
}

ul {
  list-style-type: none;
  image-orientation: center;ß
}

h3 {
  background-image: linear-gradient(to right, #8ED1DC, #E3F4F6);
  width: 415px;
  border: 15px white;
  padding: 20px;
  margin: 32px, 0px;
  border-radius: 4px;
}

article {
  display: inline-block;
}

table {
  background-color: white;
  width: 458px;
  border-collapse: collapse;
}

.sidebar-image {
  width: 30px;
  height: 30px;
}

#left-side {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: white;
  position: relative;
  height: 100%;
  overflow: auto;
  vertical-align: top;
}

#elephant {
  display: block;
  padding-left: -4px;
  padding-top: 11px;
  height: 50px;
  width: 100px;
}

#close-icon {
  height: 8px;
  width: 8px;
  position: relative;
  left: 416px;
  bottom: 78px;
}

.sidebar {
  display: block;
  margin: auto;
  padding: 0;
  height: 661px;
  overflow: auto;
}
.sidebar li{
  display: block;
  color: black;
  padding-top:10px;
  padding-left: 5px;
  text-decoration: none;
}

.sidebar li.active {
  background-color: white;
}

button {
  background-color: #1CA3BA;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  border: 2px solid grey;
  border-radius: 5px;
  float: right;
}

.button1 {
  background-color: #1CA3BA;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  border: 2px solid grey;
  border-radius: 5px;
  float: right;
}

nav {
  background-color: white;
}

.account-income {
  border-width: 2px;
  position: relative;
  bottom: 18px;
  background-color: white;
  display: inline-block;
  border-radius: 4px;
  width: 138px;
}

.user-accounts {
  display: inline-inline-block;
}

.account-title {
  font-size: 8px;
  position: relative;
  top: 5px;
  left: 10px;
}

.account-amount {
  font-size: 16px;
  position: relative;
  top: -4px;
  left: 10px;
  font-weight: bold;
}

.account-expenses {
  background-color: white;
  width: 139px;
  margin-left: 15.5px;
  margin-right: 15.5px;
  display: inline-block;
  position: relative;
  bottom: 18px;
  border-radius: 4px;
}

.account-creditscore {
  background-color: white;
  width: 139px;
  display: inline-block;
  position: relative;
  bottom: 18px;
  border-radius: 4px;
}

.first-account {
  border-width: 2px;
  background-color: white;
  margin-top: 5px;
  padding: 18px;
  width: 420px;
}

.second-account {
  border-width: 2px;
  background-color: white;
  padding: 18px;
  margin-top: 5px;
  width: 420px;
}

.third-account {
  border-width: 2px;
  background-color: white;
  padding: 18px;
  margin-top: 5px;
  width: 420px;
}

.fourth-account {
  border-width: 2px;
  background-color: white;
  padding: 18px;
  margin-top: 5px;
  width: 420px;
}

.lender-name {
  display: inline-block;
  text-align: center;
  margin-left: 50px;
  margin-right: 100px;
}

.account-types {
  display: inline;
}

th {
  border-width: 2px;
  padding-bottom: 2px;
}

tr {
  border-bottom: 1px solid #CCCCCC;
}

#close-icon {
  width: 10px;
  height: 10px;
}

p {
  padding: 5px;
  margin: 0px;
}

td {
  border-width: 2px;
  padding-bottom: 2px;
}

div {
  display: inline-block;
}

.side1of2 {
  float: left;
  margin 5px;
  display: inline-block;
}

.side2of2 {
  float: right;
  margin 5px;
  display: inline-block;
}

.section1of3 {
  display: inline-block;
  float: left;
  width: 925px;
  margin: 10px;
}

.section2of3 {
  display: inline;
  padding-top: 12px;
  width: 925px;
  margin: 10px;
}

.section3of3 {
  float: right;
  width: 300px;
  margin: 10px;
  display: inline-block;
}

.all-accounts {
  display: inline;
}

h2 {
  display: inline;
}

.button2 {
  background-color: #1CA3BA;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  border: 2px solid grey;
  border-radius: 5px;
  float: right;
}
